body {
  background: linear-gradient(to right, oklch(45.867% 0.18572 268.287) 50%, hsl(192, 77%, 68%) 100%);
}



.quiz-container {
  text-align: center;
  margin-top: 9rem;
}


.question-counter {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  font-weight: 400;
}


.question-text {
  margin-bottom: 1.5rem;
  margin-top: 40px;
  font-size: 3.25rem;
  font-weight: 300;
}


.answer-btn {
  display: block;
  margin: 1rem auto;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  border: radius;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.answer-btn:hover {
  background-color: #2563eb; /* blue-600 */
}


.result-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.score-text {
  margin-bottom: 5rem;
}
